*{
    margin: 0;
    padding: 0;
    background: #2F2FA2;
}
h1{
    color: yellow;
    font-family: "Roboto", "sans-serif";
    font-size: 45px;
    text-align: center;
}
header{
    height: 13vh;
    background-size: cover;
    background-position: center;
}

.main-nav {
    float: right;
    list-style: none;
    margin-top: 30px
}

.main-nav li{
    display: inline-block;
}

.main-nav li a{
    color: white;
    text-decoration: none;
    padding: 5px 20px;
    font-family: "Roboto", "sans-serif";
    font-size: 15px;
}

.main-nav li.active a{
    border: 3px solid #F64C72;
    padding: 5px 19px;
    color: #F64C72;
}

.main-nav li a:hover{
    border: 5px solid #F64C72;
    color: #F64C72;
    padding: 5px 19px;
    /*position: fixed;*/
}
