<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        .footer {
            position: fixed;
            left: 0px;
            margin-left: 0px;
            bottom: 0;
            width: 100%;
            background-color: inherit;
            z-index: 100;
        }
        @media (max-width: 700px){
            .footer{
                width: 100vw;
                margin-left: 0px;
                background-color: #1a2035;
            }
        }
    </style>
     </head>

        <body>
            <footer class="footer">
                <div class="container-fluid">
                    <nav style="text-align: center;">
                        <ul>
                            <li>
                                <a style="color: white;margin-left: -70px" href="#">
                          Copyright: Group 20
                        </a>
                            </li>
                        </ul>
                    </nav>
                    <!-- your footer here -->
                </div>
            </footer>
            <script>
                const x = new Date().getFullYear();
                let date = document.getElementById('date');
                date.innerHTML = '&copy; ' + x + date.innerHTML;
            </script>
        </body>

</html>