body{
   
   
   background-image:url(C:/Users/91960/Downloads/hos.jpeg);
   background-repeat:n0-repeat;
   background-size:cover;
}
h2{
  margin:10px;

}
.para{
  padding:10px 10px 10px 10px;
  text-align:justify;
  margin:10px;	
  border-width:2px ;
  border-style:solid;
  border-color:black;
  border-radius:3px;

}

footer{
	font-weight:bold;
	font-size:23px;
}

#one{
	width:400px;
	height:300px;
	
}
#two{
	width:400px;
	height:300px;
	
}
#three{
	width:400px;
	height:300px;
}
